* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    background-color: #120323;
    background-size: cover;
    gap: 2rem;
    color: #97bf04;
    text-align: center;
}

.header-container img{
    width: 100px;
    height: auto;
}

figure img{
    border: 4px solid #d9043d;
    width: 100%;
}

body{
    margin: 1rem;
}