* {
    box-sizing: border-box;
}

header {
    background-color: #120323;
}

img {
    border: 5px solid #d9043d;
    border-radius: 2px;
}

aside {
    background-color: #97bf04;
}

footer {
    background-color: #d9043d;
}

@media screen and (max-width:480px) {
    
}

@media screen and (max-width:980px) {
    
}

@media screen and (max-width:1201px) {
    
}